#1 ---- Prevent listing

IndexIgnore *
Options -Indexes

#2 ---- Without extension


Options +MultiViews


#3 ---- Force https

RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#4 ---- Use gzip compression

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</IfModule>

#5 ---- Rewrite rules

RewriteEngine On
RewriteRule ^Artikel2024/feuerwehr/artikel/([^/]+)$ /Artikel2024/feuerwehr/artikel?id=$1 [L,QSA]
RewriteRule ^Artikel2024/polizei/artikel/([^/]+)$ /Artikel2024/polizei/artikel?id=$1 [L,QSA]
RewriteRule ^Artikel2024/safekun/artikel/([^/]+)$ /Artikel2024/safekun/artikel?id=$1 [L,QSA]
RewriteRule ^Artikel2024/safirv/artikel/([^/]+)$ /Artikel2024/safirv/artikel?id=$1 [L,QSA]
RewriteRule ^Artikel2024/safwaf/artikel/([^/]+)$ /Artikel2024/safwaf/artikel?id=$1 [L,QSA]
RewriteRule ^Artikel2024/safmvi/artikel/([^/]+)$ /Artikel2024/safmvi/artikel?id=$1 [L,QSA]